*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/myFiles/aviaticket_default.svg
/myFiles/hotels_default.svg
/myFiles/profile_default.svg
/myFiles/shorter_default.svg
/myFiles/subscriptions_default.svg
